#include <Windows.h>
#include "Dialog.h"

IDD_MAIN DIALOGEX -4,-16,475,385
CAPTION "IDD_MAIN"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_TAB1,"SysTabControl32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|TCS_FOCUSNEVER,0,3,474,381
END

IDD_CONNECT DIALOGEX 10,10,400,300
CAPTION "IDD_MAIN"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE
BEGIN
  CONTROL "System Driver",IDC_SystemDll,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,12,6,96,12
  CONTROL "Normal",IDC_CurrentDll,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,12,21,96,12
  CONTROL "Connect",IDC_CONNECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,9,39,54,21
  CONTROL "Disconnect",IDC_DISCONNECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,69,39,57,21
END

IDD_PIN DIALOGEX 0,0,400,300
CAPTION "IDD_MAIN"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "User",IDC_PINUSER,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,6,15,33,13
  CONTROL "Admin",IDC_PINADMIN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,51,15,36,12
  CONTROL "Puk",IDC_PUK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,93,15,36,12
  CONTROL "Secure Messaging",IDC_SM,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,138,15,87,12
  CONTROL "Check PIN",IDC_CHECKPIN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,162,36,54,21
  CONTROL "",IDC_TXTPIN,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,9,36,138,21,WS_EX_CLIENTEDGE
  CONTROL "",IDC_TXTPIN2,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,9,63,381,21,WS_EX_CLIENTEDGE
  CONTROL "Change Pin",IDC_CHANGEPIN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,165,87,54,21
  CONTROL "Unblock Pin",IDC_UNBLOCKPIN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,223,87,54,22
  CONTROL "Set Puk",IDC_SETPUK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,282,87,54,21
  CONTROL "Personnalize after the admin pin to succeed ms test for the driver",IDC_PERSONNALIZE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,12,228,345,27
  CONTROL "Set SM",IDC_SETSM,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,339,87,51,21
END

IDD_CRYPTO DIALOGEX 0,0,400,300
CAPTION "IDD_MAIN"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "Set same key for all containers",IDC_SAMEKEY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,150,18,105,36
  CONTROL "Import key",IDC_IMPORTKEY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,42,63,72,21
  CONTROL "Generate new key",IDC_NEWKEY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,42,39,72,21
  CONTROL "",IDC_CONTAINERINDEX,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,39,18,90,15
  CONTROL "Set readonly",IDC_SETREADONLY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,174,117,57,24
  CONTROL "Unset readonly",IDC_UNSETREADONLY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,174,147,57,24
END

IDD_FILE DIALOGEX 10,10,400,300
CAPTION "IDD_MAIN"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "List Files",IDC_LISTFILES,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,177,18,48,21
  CONTROL "File content :",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,15,132,118,9
  CONTROL "",IDC_CONTENT,"Edit",WS_CHILD|WS_VISIBLE|WS_DISABLED|WS_TABSTOP|ES_MULTILINE,15,144,154,64,WS_EX_CLIENTEDGE
  CONTROL "",IDC_FILES,"ListBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,15,21,153,108,WS_EX_CLIENTEDGE
END

IDD_CRYPTOAPI DIALOGEX 0,0,400,300
CAPTION "IDD_MAIN"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "Decrypt",IDC_DECRYPT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,78,132,57,21
  CONTROL "Sign",IDC_SIGN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,6,132,57,21
  CONTROL "Double clic = show certificate",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,6,21,282,9
  CONTROL "List container",IDC_CONTAINER,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,321,9,57,21
  CONTROL "",IDC_LSTCONTAINER,"ListBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,6,33,378,93,WS_EX_CLIENTEDGE
END

IDD_ENROLL DIALOGEX 0,0,400,300
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT WS_VISIBLE|WS_CHILDWINDOW
BEGIN
  CONTROL "Enroll new certificate",IDC_ENROLL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,48,27,111,24
END

